.app-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom right,
    #9796f0 0.5%,
    #fbc7d4 150%
  );
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.emojis-list-container {
  width: 80%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px;
}